[Unit]
Description=Unifi Controller service
After=docker.service
Requires=docker.service

[Service]
#User=nobody
#Group=nogroup
#Type=notify
#NotifyAccess=all
EnvironmentFile=/etc/default/unifi-controller
ExecStart=/volumes/storage/containers/unifi-controller/unifi.sh start
ExecStop=/volumes/storage/containers/unifi-controller/unifi.sh stop

[Install]
WantedBy=multi-user.target
